# OSX
#
nativeappreact/.DS_Store
# Xcode
#
nativeappreact/build/
*.pbxuser
!nativeappreact/default.pbxuser
*.mode1v3
!nativeappreact/default.mode1v3
*.mode2v3
!nativeappreact/default.mode2v3
*.perspectivev3
!nativeappreact/default.perspectivev3
nativeappreact/xcuserdata
*.xccheckout
*.moved-aside
nativeappreact/DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
nativeappreact/android/build/
nativeappreact/andoird/.idea
nativeappreact/android/.gradle
nativeappreact/android/local.properties
*.iml
*.hprof

# node.js
#
nativeappreact/node_modules/
nativeappreact/npm-debug.log
nativeappreact/yarn-error.log

# BUCK
nativeappreact/buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
nativeappreact/ios/Pods/
